<!-- This is a HTML code for a login form that is enclosed within a card. -->

<div class="card">
    <div class="card-header">
        <!-- This is the header section of the card that contains the title for the form. -->
        <div class="title">
            <h2>Welcome back! Please login.</h2>
        </div>
    </div>
    <div class="card-body">  
        <!-- This is the body section of the card that contains the login form. -->
        <form class="login-form">
            <!-- This is the login form section of the card that contains the input fields and the login button. -->
            <div>
                <label for="username-login" class="form-label">Username</label>
                <input type="text" class="form-input" id="username-login" />
            </div>
            <div>
                <label for="password-login" class="form-label">Password</label>
                <input type="password" class="form-input" id="password-login" />
            </div>
            <div>
                <button type="submit" class="btn">Login</button>
            </div>
            <!-- This is a link to the signup page. -->
            <a href="/signup">Signup</a>
        </form>
    </div>
</div>

<!-- This is a script tag that includes the JavaScript code for handling the login functionality. -->
<script src="/javascript/login.js"></script>
